In [2]:
import pandas as pd

In [37]:
data = pd.read_csv("./csse_covid_19_daily_reports/01-01-2021.csv")

In [29]:
data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328

In [30]:
data.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incident_Rate', 'Case_Fatality_Ratio'],
      dtype='object')

In [31]:
len(data)

4011

In [32]:
data.Country_Region.dropna().count()

np.int64(4011)

In [39]:
data.Country_Region.dropna().count()

data.drop(['FIPS','Admin2','Province_State',"Lat",'Long_'],axis=1,inplace=True)

In [ ]:

data.head()

In [45]:
date = data.Last_Update[0][:9]
date

'2021-01-0'

In [52]:
data.drop("Last_Update",axis = 1,inplace=True)

In [53]:
data.head()

,Country_Region,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Afghanistan,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,Albania,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,Algeria,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,Andorra,8117,84,7463,570,Andorra,10505.403482,1.034865
4,Angola,17568,405,11146,6017,Angola,53.452981,2.305328

In [54]:
len(data)

4011

In [ ]:
data.dropna(inplace=True)

In [57]:
len(data)

3915

In [58]:
data.drop_duplicates(inplace=True)

In [59]:
len(data)

3915

In [61]:
data.columns = data.columns.str.lower()

In [62]:
data.head()

,country_region,confirmed,deaths,recovered,active,combined_key,incident_rate,case_fatality_ratio
0,Afghanistan,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,Albania,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,Algeria,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,Andorra,8117,84,7463,570,Andorra,10505.403482,1.034865
4,Angola,17568,405,11146,6017,Angola,53.452981,2.305328

In [66]:
data.drop("combined_key",axis=1,inplace=True)

In [67]:
data.dtypes

country_region          object
confirmed                int64
deaths                   int64
recovered                int64
active                   int64
incident_rate          float64
case_fatality_ratio    float64
dtype: object

In [73]:
data["confirmed"] = pd.to_numeric(data["confirmed"],errors = "coerce")
data["deaths"] = pd.to_numeric(data["deaths"],errors = "coerce")
data["recovered"] = pd.to_numeric(data["recovered"],errors = "coerce")
data["active"] = pd.to_numeric(data["active"],errors = "coerce")
data["incident_rate"] = pd.to_numeric(data["incident_rate"],errors = "coerce")
data["case_fatality_ratio"] = pd.to_numeric(data["case_fatality_ratio"],errors = "coerce")
data.dropna(inplace=True)

In [80]:
data["confirmed"] = data["confirmed"].astype(int)
data["deaths"] = data["deaths"].astype(int)
data["recovered"] = data["recovered"].astype(int)
data["active"] = data["active"].astype(int)

In [81]:
data["confirmed"] = data["confirmed"].abs()
data["deaths"] = data["deaths"].abs()
data["recovered"] = data["recovered"].abs()
data["active"] = data["active"].abs()
data["incident_rate"] = data["incident_rate"].abs()
data["case_fatality_ratio"] = data["case_fatality_ratio"].abs()